.messages {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: 6px;
    scrollbar-color: rgba(121,121,121,.4) transparent;
    overscroll-behavior: contain;

    .message {
        display: flex;
        column-gap: 16px;
        position: relative;

        .icon {
            height: 41px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.user, &.assistant {
            display: flex;
            width: 100%;

            .text {
                padding: 10px 14px;
                border-radius: 12px;
                font-size: 14px;
                line-height: 1.5;
                max-width: 85%;
                width: auto;
                word-wrap: break-word;
                overflow-wrap: break-word;
            }
        }
        &.user {
            justify-content: flex-end;
            .text {
                white-space: pre-wrap;
                background-color: #1d4c9b;
                border-bottom-right-radius: 2px;
            }
        }
        &.assistant {
            justify-content: flex-start;
            .text {
                background-color: var(--bg-chat-assistant);
                border-bottom-left-radius: 2px;
                padding-bottom: 2px; // markdown p: 12px
            }
        }

        &.loading {
            .text {
                padding: 10px 14px;
                border-radius: 12px;
                font-size: 14px;
                line-height: 1.5;
                max-width: 85%;
                width: auto;
                word-wrap: break-word;
                overflow-wrap: break-word;
                background-color: var(--bg-chat-assistant);
                border-bottom-left-radius: 2px;
                display: flex;
                align-items: center;

                .typing {
                    display: flex;
                    align-items: center;
                    column-gap: 4px;

                    span {
                        width: 6px;
                        height: 6px;
                        background-color: var(--text-main);
                        border-radius: 50%;
                        display: inline-block;
                        animation: bounce 1s infinite ease-in-out both;

                        @keyframes bounce {
                            0%, 80%, 100% {
                                transform: scale(0);
                            }
                            40% {
                                transform: scale(1);
                            }
                        }

                        &:nth-child(1) {
                            animation-delay: -0.32s;
                        }
                        &:nth-child(2) {
                            animation-delay: -0.16s;
                        }
                    }
                }
            }
        }
    }
}