:root {
    --bg-main: #072e6a;
    --bg-hover: rgba(255,255,255,0.1);
    --bg-active: rgba(255,255,255,0.2);
    --bg-chat-assistant: rgba(255, 255, 255, 0.06);

    --text-main: #f1f1f1;
    --text-secondary: #aaa;

    --border: #2357a8;

    --box-shadow: rgba(255,255,255,0.1);
}