.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    // margin-top: -50px;
    
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        background-color: #1d4c9b;
        border-radius: 8px;
        color: var(--text-main);

        img {

        }
    }
    h3 {
        font-weight: 500;
        font-size: 30px;
    }
    h2 {
        font-weight: 500;
        font-size: 32px;
    }
    p {
        color: var(--text-secondary);
        font-size: 20px;
        font-weight: 300;
    }
}