.ai-form {
    // position: absolute;
    // bottom: 0;
    // left: 0;

    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    border: 2px solid var(--border);
    border-radius: 16px;
    height: 60px;
    box-shadow: 0 0 0 1px var(--box-shadow);
    overflow: hidden;

    .text {
        display: flex;
        align-items: center;
        height: 100%;
        flex: 1;
        background-color: transparent;
        color: var(--text-main);
        font-size: 18px;
        font-weight: 300;

        &::placeholder {
            color: var(--text-secondary);
        }
    }

    .submit {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 100%;
        cursor: pointer;
        position: relative;
        background-color: #1d4c9b;
        color: var(--text-main);
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;

        &:hover {
            background-color: #1a458e;
        }
        &:active {
            background-color: #1b4895;
        }
        &:disabled {
            cursor: default;
            background-color: rgba(255, 255, 255, 0.06);
        }
    }
}